#autogem-content-root {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9999;
  border-bottom-left-radius: 24px;
  font-family: "Quicksand", sans-serif;
  --tw-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
  --tw-shadow-colored: 0 25px 50px -12px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}